:root{
  --primary-color: #326BB3;
  --secondary-color: #B38C44;
  --primary-font: Yanone Kaffeesatz, sans-serif;
}

/* Header */
.title{
  display: flex;
  justify-content: flex-end;
  font-size: 64px;
  font-family: var(--primary-font);
  padding: 1rem;
}
.second-text{
  color: var(--primary-color);
}
.first-text{
  color: var(--secondary-color);
}

.divider-line{
  border: 2px solid var(--primary-color);
}

/* NavBar */

.nav-items{
  list-style-type: none;
  font-family: var(--primary-font);
  display: flex;
  gap: 2rem;
  font-size: 30px;
  
}
.nav-item a{
  text-decoration: none;
  color: black;
}